<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="m-4 p-4">
        <h1 class="text-2xl font-medium">Admin Dashboard</h1>
            <p class="text-gray-400">Real time monitioring and management</p>
             <div class="flex items-center justify-between mt-4">
                <div id="Activesos" class=" cursor-pointer  text-sm font-semibold border-4  border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)]  bg-white  p-2 w-[300px] h-[60px] flex  items-center">
                  <img src="../views/add_triangle.png" alt="">  
                  <span class="px-2">Active SOS <br><span class="text-red-500">1</span></span>
                </div>
                <div class="  text-sm font-semibold border-4  border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)]  bg-white  p-2 w-[300px] h-[60px] flex  items-center">
                  <img src="../views/Reports.png" alt="">  
                  <span class="px-2">Reports <br><span class="text-red-500 font-semibold">1</span></span>
                </div>
                <div class="  text-sm font-semibold border-4  border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)]  bg-white  p-2 w-[300px] h-[60px] flex  items-center">
                  <img src="../views/planner_review.png" alt="">  
                  <span class="px-2">Active Volunteers <br><span class="text-red-500 font-semibold">1</span></span>
                </div>
                <div class="  text-sm font-semibold border-4  border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)]  bg-white  p-2 w-[300px] h-[60px] flex  items-center">
                  <img src="../views/group.png" alt="">  
                  <span class="px-2">Total Volunteers <br><span class="text-red-500 font-semibold">1</span></span>
                </div>
        </div>

        <div class="mt-10 flex items-center justify-between text-center">
           <div class="w-[30%] flex justify-center border-4 border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)] ">
              <a class="flex" href="http://localhost:1000/user/view"><img src="../views/live maps.png" alt="">  Live Map</a>
            </div>
            <div  class="w-[30%] flex justify-center border-4 border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)] ">
             <a class="flex" href="http://localhost:1000/user/volunteers"> <img src="../views/volunteers.png" alt="">  Volunters</a>
            </div>
            <div  class="w-[30%] flex justify-center border-4 border-white shadow-[0px_2px_10px_2px_rgba(0,0,0,0.25)] ">
             <img src="../views/browse_activity.png" alt="">   History and Analysis
            </div>
        </div>
           
    </div>
    </div>
</body>
</html>