<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- MarkerCluster CSS and JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/tailwindcss">
        @keyframes fade { 
  from { opacity: 0.2; } 
  to{opacity: 1;}
}
        .blinking{
            animation: fade 1s infinite alternate;
            background-color: transparent;
        }
      @theme {
        --color-clifford: #da373d;
      }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center">
    <div class="min:p-4 p-6 md:p-6 lg:p-8  min-h-screen  ">

        <div class=" max-w-7xl    ">
            <div class="mb-10">
                <div class="flex justify-between items-center">
                       <div>

                           <h1 class="text-3xl font-medium">Admin Dashboard</h1>
                           <p class="text-gray-400">Real time monitioring and management</p>
                        </div>
                        <div class="font-semibold text-xl text-blue-500">
                           <a href="/user/changepassword">

                               Change Password
                           </a>
                        </div>
                </div>
                <div id="sos" class="fixed  hidden backdrop-blur-sm bg-black/30 top-0 bottom-0 right-0 left-0 flex items-center justify-center z-5000">
                    <div class="bg-gray-50 p-4 rounded-lg  w-[30%]">
                        <p class="font-semibold p-2 flex gap-2">
                            <img src="../views/assets/Error.png" alt="">  SOS Alert 
                        </p>
                        <div id="active" class="bg-red-200  p-4 rounded-xl text-sm flex justify-between border-2 border-red-600 ">
                <div >
                    
                    
                    <p class="font-semibold text-red-500">
                        Active SOS Alert
                    </p>
                        
                    <p class="text-xs text-red-400">
                        
                          Triggered on 5/06/25 12:50
                      </p>
                </div>  
                <p class="text-xs bg-red-500 p-2 rounded-full font-semibold text-white">Urgent</p>
            </div>
            <div id="userInfo " class= " mt-2 border-2 border-gray-300 rounded-lg flex">
                <div id="icon1 " class="p-2">
              <img src="../views/assets/User.png" alt="">
            </div>
                <div id="content" class="flex flex-col gap-2 font-semibold p-2 w-[85%]">
                    <h2>User information</h2>
                    <div class="flex justify-between text-sm ">
                        <p class="w-1/2">
                           <span  class="text-gray-500">
                               
                               Full name.
                        </span>
                        <br>
                           <span id="sosname" class="text-xs">

                               Pushkar sharma
                           </span>
                        </p>
                        <p class="w-1/3"><span class="text-gray-500">

                            Mobile number .
                        </span>
                        <br>
                           <span id="sosnum" class="text-xs">

                               94551154
                           </span>
                    </div>
                    <div class="flex justify-between  ">
                        <p>
                           <span class="text-gray-500 ">
                               
                               Email.
                        </span>

                           <br><span id="sosemail" class="text-xs">
                               pushkarsharma5555@gmail.com
                        </span>
                            
                        </p>
                        <p class="w-1/3"><span class="text-gray-500 ">

                            Blood type
                        </span>
                        <span class="text-xs">
                            <br> B+</p>
                        </span>
                        </span>
                    </div>
                    
                    

                </div>
            </div>
            <div id="Locationdetails" class="mt-2 border-2 border-gray-300 rounded-lg flex ">
                 <div id="icon2 " class="p-2">
           <img src="../views/assets/Place Marker.png" alt="">
                </div>
                <div class="flex flex-col gap-2 font-semibold p-2 w-[85%]">
                    <h2>Location details</h2>
                  <div>
                    <p class="text-gray-500 text-sm">Current location</p>
                    <span id="soslocation" class="">xyz, vidisha</span>
                </div>
                <div class="flex justify-between text-sm ">
                    <div class="bg-red-200 p-2 rounded-lg w-[45%] border-2 border-red-500" > Nearest Hospital
                        <p class="text-xs text-gray-500">AIIMS ,2KM</p>
                    </div>
                    
                    <div class="bg-orange-100 p-2 rounded-lg w-[50%] border-2 border-orange-600 flex" >
                        <div>
                            <img src="../views/assets/User Account.png" alt="">
                        </div>
                        <div>
                            
                            Nearest Volunteer
                            <p class="text-xs text-gray-500 "> Volunteer , km</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="MedicalDetails" class= " mt-2 border-2 border-gray-300 rounded-lg flex ">
                      <div id="icon3" class="p-2">
                       <img src="../views/assets/Error black.png" alt="">
                      </div>
                      <div class="flex  gap-2 font-semibold  w-[85%]">

                            <div class="mt-5 p-2 flex gap-2">
                                <form id="resolvesosform" action="" method="POST">

                                    <button type="button" id="resolvesosbtn" class="text-sm border-1 rounded-lg bg-red-500 text-white px-2 py-2 font-semibold">Resolve Emergency</button>
                                </form>
                              <!-- <button  class="text-sm border-1 rounded-lg  text-black px-2 py-2 font-semibold">Contact Volunteer</button>
                              <button  class="text-sm border-1 rounded-lg text-black px-2 py-2 font-semibold">Call Emergency</button> -->
                            </div>
                             
                            </div>
                        </div>
                    </div>
                    <div id="cross" class="relative -top-75 right-5 cursor-pointer">
                        <img src="../views/assets/cross_icon.svg" alt="n">
                    </div>
            </div>
            <div class="flex items-center gap-3 mt-4 flex-wrap md:justify-center md:flex-nowrap ">
                <div id="Activesos" class=" cursor-pointer  text-sm font-semibold border-1 w-[40%] border-white  shadow-lg rounded-lg bg-gray-50    p-2  md:w-70 h-20 flex  items-center ">
                  <div class="p-1.5 bg-red-100 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="alert-triangle" class="lucide lucide-alert-triangle h-4 w-4 md:h-5 md:w-5 text-red-600"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg>
                            </div> 
                  <span class="px-2">Active SOS <br><span id="active_soscount" class="text-black-500 text-xl"></span></span>
                </div>
                <div class="  text-sm font-semibold border-1 bg-gray-50  border-white shadow-lg w-[40%]   bg-gray-50 rounded-lg  p-2  md:w-70 h-20 flex  items-center">
                  <div class="p-1.5 bg-red-100 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="file-text" class="lucide lucide-file-text h-4 w-4 md:h-5 md:w-5 text-red-600"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                            </div>
                  <span class="px-2">Reports <br><span id="report_count" class="text-black-500 text-xl font-semibold"></span></span>
                </div>
                <div class="  text-sm font-semibold border-1   border-white shadow-lg w-[40%]   bg-gray-50 rounded-lg p-2 md:w-70 h-20 flex  items-center">
                  <div class="p-1.5 bg-green-100 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="activity" class="lucide lucide-activity h-4 w-4 md:h-5 md:w-5 text-green-600"><path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"></path></svg>
                            </div> 
                  <span class="px-2">Active Volunteers <br><span id="volunteer_active"  class="text-black-500 text-xl font-semibold"></span></span>
                </div>
                <div class="  text-sm font-semibold border-1  border-white shadow-lg w-[40%]   bg-gray-50 rounded-lg p-2  md:w-70 h-20 flex  items-center">
                  <div class="p-1.5 bg-blue-100 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="users" class="lucide lucide-users h-4 w-4 md:h-5 md:w-5 text-blue-600"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><path d="M16 3.128a4 4 0 0 1 0 7.744"></path><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><circle cx="9" cy="7" r="4"></circle></svg>
                            </div>  
                  <span class="px-2">Total Volunteers <br><span id="volunteertotal" class="text-black-500 text-xl font-semibold"></span></span>
                </div>
        </div>

        <div class="mt-10 flex flex-wrap md:flex-nowrap items-center md:justify-between gap-3  text-center">
           <div class="md:w-[30%] w-[80%]  h-10 rounded-lg flex bg-gray-50 justify-center border-2 border-white shadow-lg ">
              <a class="flex " href="/user/view"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="map-pin" class="lucide lucide-map-pin h-7 w-7 text-gray-600 pr-1 pt-2"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path><circle cx="12" cy="10" r="3"></circle></svg>  Live Map</a>
            </div>
            <div  class="md:w-[30%] w-[80%]  h-10 rounded-lg flex justify-center bg-gray-50 border-2 border-white shadow-lg ">
             <a class="flex" href="/user/volunteers"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="user-check" class="lucide lucide-user-check h-7 w-7 text-gray-600  pr-1 pt-2"><path d="m16 11 2 2 4-4"></path><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle></svg> Volunters</a>
            </div>
            <div  class="md:w-[30%] w-[80%] bg-gray-50  h-10 rounded-lg flex justify-center border-2 border-white shadow-lg ">
             <a href="/user/history" class="flex"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="bar-chart-3" class="lucide lucide-bar-chart-3 h-7 w-7 text-gray-600  pr-1 pt-2"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>  History and Analysis</a>
            </div>
        </div>
           
    </div>
    <form  method="GET" id="formreport" class="hidden ">
               <input type="text">
               <button>send</button>
    </form>
    <div class=" rounded-lg border-2 bg-gray-50 px-4 py-4 border-white shadow-lg">
           <h2 class="text-2xl font-md mb-2">Live Safety Map</h2>
           <div class=" relative left-0 top-18 md:left-250 sm:top-18 z-1000 w-[10%] bg-white/60 p-4 rounded-lg flex flex-col text-center font-semibold"> 
            <p class="text-sm mb-2">Legend</p>
            <ul class="text-xs">
                <li class="flex">
                    Sos   <img src="../views/assets/newsosl.jpg" class="w-5 h-5" alt="">
                </li>
                <li class="flex">
                    Report   <img src="../views/assets/reportmarkerl.jpg"   class="w-5 h-5"alt="">
                </li>
                <li class="flex">
                    Volunteer  <img src="../views/assets/volunteerIconl.jpg"  class="w-5 h-5" alt="">
                </li>
            </ul>
           </div>
        <div class="h-[300px] w-[100%]" id="map"></div>
    </div>
    <!-- <div id="reports" class=" bg-gray-50 overflow-scroll p-4 rounded-lg mt-5 h-[250px] border-2 border-white shadow-lg ">
    <div class="mt-2 bg-gray-200 rounded-lg flex justify-between items-center border-1 shadow-lg border-gray-200 p-2 font-semibold">
        <div>

            <p>

                Name
            </p>
            <span class="text-sm">

                location
            </span>
        </div>
        <div>
            <button class="cursor-pointer bg-white border-2 border-white p-2 px-4 text-sm shadow-lg rounded-full ">Reports</button>
        </div></div>
  
        </div> -->
    </div>
    </div>
</body>
<script>
    var map = L.map('map').setView([23.530001, 77.820000], 15);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    crossOrigin: true,
    <!-- attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' -->
    }).addTo(map);

    var SosIcon=L.icon({
        iconUrl:'../views/assets/newsos.png',
        iconSize:     [38, 55], // size of the icon
        iconAnchor:   [43, 43], 
         popupAnchor:  [-3, -76]
       
    }) 
    var HospitalIcon=L.icon({
        iconUrl:'../views/assets/hospital.png',
        iconSize:     [38, 55], // size of the icon
        iconAnchor:   [43, 43], 
         popupAnchor:  [-3, -76]
       
    }) 
    var ReportIcon=L.icon({
        iconUrl:'../views/assets/reportmarker.png',
        iconSize:     [38, 55], // size of the icon
        iconAnchor:   [43, 43], 
         popupAnchor:  [-3, -76]
       
    }) 
    var VolunteerIcon=L.icon({
        iconUrl:'../views/assets/volunteerICon.png',
        class:'blinking',
        iconSize:     [38, 55], 
        iconAnchor:   [43, 43], 
    }) 
    const firebaseConfig = {
      apiKey: "AIzaSyC-SWfn3GRLPjLZnOZf2LDlffy1Zuli0Lo",
      authDomain: "suraksha-100-f498d.firebaseapp.com",
      projectId: "suraksha-100-f498d",
      storageBucket: "suraksha-100-f498d.firebasestorage.app",
      messagingSenderId: "478330768262",
      appId: "1:478330768262:web:a1bb236ae023d8ad6bba07",
      measurementId: "G-BBPNLVL4PM"
    };
var sosmarkers = new L.markerClusterGroup( {showCoverageOnHover: false,
  maxClusterRadius: 50,
  spiderfyOnMaxZoom: true,});
var volunteermarkers = new L.markerClusterGroup( {showCoverageOnHover: false,
  maxClusterRadius: 50,
  spiderfyOnMaxZoom: true,});

const marker=[];   
console.log(firebase)
firebase.initializeApp(firebaseConfig);
const db=firebase.firestore();
 db.collection('sos').onSnapshot((snapshot)=>{
    snapshot.forEach(doc=>{
        const data=doc.data()
    if(data.resolved==false){
      
            marker[data.id]=L.marker([data.currentLocation._lat,data.currentLocation._long],{icon:SosIcon});
            sosmarkers.addLayer(marker[data.id]);
            map.addLayer(sosmarkers)
            marker[data.id].addEventListener('click',(e2)=>{
               
                sos.classList.remove('hidden');
                document.getElementById("sosname").innerText=data.name;
                document.getElementById("sosnum").innerText=data.number;
                document.getElementById("sosemail").innerText=data.email;
                document.getElementById("soslocation").innerText=data.address;
                document.getElementById("resolvesosbtn").addEventListener('click',(e3)=>{
                 resolvesosform.action=`/user/resolvesos/${data.id}`
                 resolvesosform.submit();
                })
            })
            setTimeout(showmarker(data.currentLocation._lat,data.currentLocation._long),3000)
            
        }
        else{
            if(marker[data.id]==undefined){

            }else{

                sosmarkers.removeLayer(marker[data.id]);
            }
            
            
        }
    })
})
//below is code for adding hospital marker on map as soon as hospital location coordinates are added in database the code shall be uncommented 

//const hospitals=[];
//db.collection('hospitals').onSnapshot((snapshot)=>{
  // snapshot.forEach(doc=>{
    //const data=doc.data();
    //if(hospitals[data.id]==undefined){
      //  hospitals[data.id]=L.marker([data.currentLocation._lat,data.currentLocation._long],{icon:HospitalIcon}).bindPopup(data.name).openPopup();
       // sosmarkers.addLayer(hospitals[data.id])
        //map.addLayer(sosmarkers);
    //}
   //})
//})



function showmarker(lat,lang){

    map.setView([lat,lang], 15); 
}

const Reports=[];
db.collection('reports').onSnapshot((snapshot)=>{
    snapshot.forEach((doc)=>{
        const data=doc.data();
         if(Reports[data.id]==undefined){
            Reports[data.id]=L.marker([data.currentLocation._lat,data.currentLocation._long],{icon:ReportIcon});
            sosmarkers.addLayer(Reports[data.id]);
            map.addLayer(sosmarkers);

            Reports[data.id].addEventListener('click', (e)=>{
                const form=document.getElementById('formreport');
                console.log(form)
                form.action=`/user/history/reports/${data.id}`
               HTMLFormElement.prototype.submit.call(form)
                  
                })
         }
    })
})







var count=0;
db.collection('volunteers').onSnapshot((snapshot)=>{
    Volunteer=[];
    snapshot.forEach(doc=>{
        const data=doc.data();
        console.log(data)
        if(data.location!=undefined){

            Volunteer[data.id]=L.marker([data.location._lat,data.location._long],{icon:VolunteerIcon}).bindPopup(data.name);
           // L.DomUtil.addClass(Volunteer[data.id]._icon, 'blinking');
           volunteermarkers.addLayer(Volunteer[data.id])
           map.addLayer(volunteermarkers)
            if(count>0){
                Volunteer[data.id].remove();
            }
        }
        })
        count++;
        
    })
    
 

var sos=document.getElementById("sos");
var cross=document.getElementById("cross");
cross.addEventListener("click",()=>{
    sos.classList.add('hidden');
})
    
  
 

 
 
 

const activesoscount=document.getElementById('active_soscount')
const reportcount=document.getElementById('report_count')
const activevolunteer=document.getElementById('volunteer_active')
const totalvolunteers=document.getElementById('volunteertotal')


db.collection('sos').onSnapshot((snapshot)=>{
   var count=0;
    snapshot.forEach(doc=>{
        const data=doc.data();
        if(!data.resolved)
        count++;
    })
    activesoscount.innerText=count;
})

db.collection('reports').onSnapshot((snapshot)=>{
   var count=0;
    snapshot.forEach(doc=>{
        count++;
    })
    reportcount.innerText=count;
})

db.collection('volunteers').onSnapshot((snapshot)=>{
   var count=0;
    snapshot.forEach(doc=>{
        count++;
    })
    totalvolunteers.innerText=count;
})
db.collection('volunteers').onSnapshot((snapshot)=>{
   var count=0;
    snapshot.forEach(doc=>{
        const data=doc.data();
        if(data.isactive){
            count++
        }
    })
    activevolunteer.innerText=count;
})

const resolvesosform= document.getElementById('resolvesosform')




</script>
</html>
